#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/MaterialIcons-Regular.eot);
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(../fonts/MaterialIcons-Regular.woff) format('woff'),
		url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}
.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}
.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3);
}
.material-icons.orange600 {
	color: #FB8C00;
}
html, body {
	text-align: center;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
}
.mdl-demo .mdl-layout__header-row {
	padding-left: 40px;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
	font-size: inherit;
}
.mdl-demo .mdl-layout__tab-bar-button {
	display: none;
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
	display: none;
}
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar,
.mdl-demo .mdl-layout:not(.is-small-screen) .mdl-layout__tab-bar-container {
	overflow: visible;
}
.mdl-demo .mdl-layout__tab-bar-container {
	height: 64px;
}
.mdl-demo .mdl-layout__tab-bar {
	padding: 0;
	padding-left: 16px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
	height: 64px;
	line-height: 64px;
}
.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
	background-color: white;
	height: 4px;
}
.mdl-demo main > .mdl-layout__tab-panel {
	padding: 8px;
	padding-top: 48px;
}
.mdl-demo .mdl-card {
	height: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
			-ms-flex-direction: column;
					flex-direction: column;
}
.mdl-demo .mdl-card > * {
	height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
	margin: 40px;
	-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
					flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px);
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
	margin-top: 0;
	margin-bottom: 20px;
}
.mdl-demo .mdl-card__actions {
	margin: 0;
	padding: 4px 40px;
	color: inherit;
}
.mdl-demo .mdl-card__actions a {
	color: #00BCD4;
	margin: 0;
}
.mdl-demo .mdl-card__actions a:hover,
.mdl-demo .mdl-card__actions a:active {
	color: inherit;
	background-color: transparent;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo #add {
	position: absolute;
	right: 40px;
	top: 36px;
	z-index: 999;
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
	position: relative;
	margin-bottom: 48px;
}
.mdl-demo section.section--center {
	max-width: 860px;
}
.mdl-demo #features section.section--center {
	max-width: 620px;
}
.mdl-demo section > header{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-justify-content: center;
			-ms-flex-pack: center;
					justify-content: center;
}
.mdl-demo section > .section__play-btn {
	min-height: 200px;
}
.mdl-demo section > header > .material-icons {
	font-size: 3rem;
}
.mdl-demo section > button {
	position: absolute;
	z-index: 99;
	top: 8px;
	right: 8px;
}
.mdl-demo section .section__circle {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-justify-content: flex-start;
			-ms-flex-pack: start;
					justify-content: flex-start;
	-webkit-flex-grow: 0;
			-ms-flex-positive: 0;
					flex-grow: 0;
	-webkit-flex-shrink: 1;
			-ms-flex-negative: 1;
					flex-shrink: 1;
}
.mdl-demo section .section__text {
	-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
					flex-grow: 1;
	-webkit-flex-shrink: 0;
			-ms-flex-negative: 0;
					flex-shrink: 0;
	padding-top: 8px;
}
.mdl-demo section .section__text h5 {
	font-size: inherit;
	margin: 0;
	margin-bottom: 0.5em;
}
.mdl-demo section .section__text a {
	text-decoration: none;
}
.mdl-demo section .section__circle-container > .section__circle-container__circle {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 8px 0;
}
.mdl-demo section.section--footer .section__circle--big {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 8px 32px;
}
.mdl-demo .is-small-screen section.section--footer .section__circle--big {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: 8px 16px;
}
.mdl-demo section.section--footer {
	padding: 64px 0;
	margin: 0 -8px -8px -8px;
}
.mdl-demo section.section--center .section__text:not(:last-child) {
	border-bottom: 1px solid rgba(0,0,0,.13);
}
.mdl-demo .mdl-card .mdl-card__supporting-text > h3:first-child {
	margin-bottom: 24px;
}
.mdl-demo .mdl-layout__tab-panel:not(#overview) {
	background-color: white;
}
.mdl-demo #features section {
	margin-bottom: 72px;
}
.mdl-demo #features h4, #features h5 {
	margin-bottom: 16px;
}
.mdl-demo .toc {
	border-left: 4px solid #C1EEF4;
	margin: 24px;
	padding: 0;
	padding-left: 8px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
			-ms-flex-direction: column;
					flex-direction: column;
}
.mdl-demo .toc h4 {
	font-size: 0.9rem;
	margin-top: 0;
}
.mdl-demo .toc a {
	color: #4DD0E1;
	text-decoration: none;
	font-size: 16px;
	line-height: 28px;
	display: block;
}
.mdl-demo .mdl-menu__container {
	z-index: 99;
}
.mdl-textfield {
	width: calc(100% - 40px)
}
.mdl-slider {
	width: 100%;
	margin: 0;
	
}
.mdl-slider__background-flex {
	width: 100%;
	margin: 0;
}
.mdl-checkbox {
	text-align: left;
}
